{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load custom_filters %}

{% block title %}
{{search|length}} {% trans "Новости" %}
<a href="{% url 'news' %}">{% trans "На главную" %}</a>
{% endblock title %}

{% block content %}
    <form action="" method="get">
        {{ filterset.form.non_field_errors }}

        {{ filterset.form.change_news__icontains.errors }}
        <label for="{{filterset.form.change_news__icontains.id_for_label}}">{% trans "Новость/Статья" %}</label>
        <input
            id="{{filterset.form.change_news__icontains.id}}"
            name="{{filterset.form.change_news__icontains.name}}"
            value="{{filterset.form.change_news.value}}"
        />
        {{ filterset.form.head_news__icontains.errors }}
        <label for="{{filterset.form.head_news__icontains.id_for_label}}">{% trans "Название" %}</label>
        <input
            id="{{filterset.form.head_news__icontains.id}}"
            name="{{filterset.form.head_news__icontains.name}}"
            value="{{filterset.form.head_news.value}}"
        />

        {{ filterset.form.time_in__gt.errors }}
        <label for="{{filterset.form.time_in__gt.id_for_label}}">{% trans "Позже даты:" %}</label>
        <input
                type="datetime-local"
                id="{{filterset.form.time_in__gt.id}}"
                name="{{filterset.form.time_in__gt.name}}"
                value="{{filterset.form.time_in__gt.value}}"
                min="2022-12-01T00:00"
        />
        <input type="submit" value="{% trans 'Найти' %}"/>
    </form>


<table>
    <tr>
        <td>{% trans "Новость/Статья" %}</td>
        <td>{% trans "Заголовок" %}</td>
        <td>{% trans "Дата публикации" %}</td>
        <td>{% trans "Кратко" %}</td>
    </tr>
    {% if search %}
        {% for new in search %}
        <tr>
            <td>{{new.get_change_news_display}}</td>
            <td><a href="/news/{{new.pk}}">{{new.head_news|censor}}</a></td>
            <td>{{new.time_in|date:"d M y"}}</td>
            <td>{{new.text_news|censor|truncatechars:20}}</td>
        </tr>
        {% endfor %}
    {% else %}
        <h3>{% trans "В данный момент пока еще нет статей" %}</h3>
    {% endif %}
</table>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}